body {
  font-family: "Roboto";
  font-weight: 100;
}

.footer {
  background-color: #e2fafc;
  flex-direction: column;
  height: 84px;
  padding: 16px;
}

.footer > div {
  display: flex;
  align-items: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 8px;
}

.footer img {
  max-height: 52px;
  max-width: 35%;
}

.footer p {
  color: black;
  font-size: 1rem;
}

.settings-row {
  margin-bottom: 16px !important;
}

.settings-form {
  width: 100%;
  font-size: 1rem;
}

.config-bg {
  background-image: url("/assets/config-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  
}
